{% extends 'eventHandler/baseEvent.html' %}

{% load static %}

{% block extrahead %}
{% endblock%}


{% block title %}
{{ title }}
{% endblock%}

{% block content %}
    <h1> Добавить спортсмена на мероприятие в мероприятия</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label>Выбирите спортсменов для участия в соревновании {{ form.sport_type }}</label>
            {{ form.sportsmans }}
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock%}