{% extends 'eventHandler/baseEvent.html' %}

{% load static %}

{% block extrahead %}
{% endblock%}


{% block title %}
{{ title }}
{% endblock%}

{% block content %}
    <h1> Назначить на должность: {{ name }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label>Выбирите человека</label>
            {{ form.names }}
        </div>

        <button type="submit" class="btn btn-primary">Назначить на должность</button>
    </form>
{% endblock%}