{% extends 'eventHandler/baseEvent.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
{% endblock%}


{% block title %}
{{ title }}
{% endblock%}

{% block content %}
<h1>Мероприятия</h1>
    <li><a href="{% url 'eventHandler:sportCreate' %}">Создать вид спорта</a> + </li>
    <li><a href="{% url 'eventHandler:sportObjectCreate' %}">Создать спортивный обьект спорта</a> + </li>
    <li><a href="{% url 'eventHandler:eventCreate' %}">Создать мероприятие</a> + </li>
    <li>Назначить: <a href="{% url 'eventHandler:trainerAppoin' %}">Тренер</a>,
        <a href="{% url 'eventHandler:organizerAppoin' %}">Организатор</a> +
    </li>
    <li><a href="{% url 'eventHandler:allEvents' %}">Посмотреть все мероприятия</a> + </li>
    <li><a href="{% url 'eventHandler:event' %}">Посмотреть мои мероприятия</a> + </li>
    <li><a href="{% url 'eventHandler:allSportsmans' %}">Все спортсмены</a> + </li>
    <li><a href="{% url 'eventHandler:mySportsmans' %}">Мои спортсмены</a> + </li>
    <li><a href="{% url 'eventHandler:EventSettings' 1%}">Добавить соревнования в мероприятие </a></li>
    <li><a href="{% url 'eventHandler:calculator' %}">Калькулятор</a></li>






<h3>Список мероприятий:</h3>
{% for event in events %}
    <div class='row border border-primary' style="width: 1000px" >
      <div class='col d-flex justify-content-center' style="height: 250px; width: 100px">
        {% if event.photo %}
            <img src="{{ MEDIA_URL }}{{ event.photo.url }}" class="img-fluid img-thumbnail" style="height: 250px">
        {% endif %}
      </div>
      <div class='col'>
        <h5>{{ event.name }}</h5>
        <p> Ограничения:
            {% if event.age_min > 0 and event.age_max == 120 %}
                от {{ event.age_min }} лет
            {% endif %}
            {% if event.age_min == 0 and event.age_max < 120 %}
                до {{ event.age_max }} лет
            {% endif %}

            {% if event.age_min == 0 and event.age_max == 120 %}
                Для всех возрастов
            {% endif %}
            {% if event.age_min > 0 and event.age_max < 120 %}
                {{ event.age_min }} - {{ event.age_max }} лет
            {% endif %}</p>
        <p>Время проведения:
        <p>Начало :
            {% with event.settings.all|dictsort:"date"|first as el %}
                {{ el.date }}
            {% endwith %}
        </p>
        <p>Конец:
            {% with event.settings.all|dictsort:"date"|last as el %}
                {{ el.date }}
            {% endwith %}
        </p>
        </p>
      </div>

      <div class='col'>
        <p>Виды спорта на соревновании:</p>
        {% for el in event.settings.all|dictsort:"date" %}
          <li>{{ el.sport_type.name }} ({{ el.sport_object.name}} )</li>
        {% endfor %}
      </div>
    </div>
{% endfor %}
{% endblock%}