<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Мероприятия</h1>

    <li><a href="{% url 'eventCreate' %}">Создать мероприятие</a></li>
    <li><a href="{% url 'teamCreate' %}">Создать команду</a></li>
    <li><a href="{% url 'sportCreate' %}">Создать Вид спорта</a></li>
    <li><a href="{% url 'sportObjectCreate' %}">Создать обьект для спорта</a></li>
    <li><a href="{% url 'trainerAppoin' %}">Назначит тренером</a></li>
    <li><a href="{% url 'SportTypeEventcreate' %}">Редактировать мероприятие</a></li>

<h3>Список мероприятий:</h3>
{% for event in events %}
    <li>
        <p>Название: {{ event.name }}</p>
        <p>Владелец: {{ event.owner }}</p>
    </li>
{% endfor %}

<h3>Список Команд:</h3>
{% for team in teams %}
    <li> {{ team.name }} </li>
{% endfor %}

<h3>Список Видов Спорта:</h3>
{% for sport in sports %}
    <li> {{ sport.name }} </li>
{% endfor %}

<h3>Список Обьектов:</h3>
{% for object in objects %}
    <li>
        <p>Название: {{ object.name }}</p>
        <p>Адрес: {{ object.address }}</p>
    </li>
{% endfor %}

<h3>Список Пользователей:</h3>
{% for user in users %}
    <li> {{ user }} </li>
{% endfor %}

</body>
</html>