{% extends 'eventHandler/baseEvent.html' %}

{% load static %}

{% block extrahead %}
{% endblock%}


{% block title %}
{{ title }}
{% endblock%}

{% block content %}
    <h1> Регистрация спортивного обьекта</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label>Название вида (Дворец молодежи)</label>
            {{ form.name }}
        </div>

        <div class="form-group mb-3">
            <label>Укажите Город</label>
            {{ form.city }}
        </div>

        <div class="form-group mb-3">
            <label>Укажите адресс</label>
            {{ form.address }}
        </div>

        <div class="form-group mb-3">
            <label>Укажите виды спорта которые можно провести в данном обьекте</label>
            {{ form.sport_type }}
        </div>

        <div class="form-group mb-3">
            <label>Загрузите фотографию здания </label>
            {{ form.photo }}
        </div>

        <button type="submit" class="btn btn-primary">Зарегистрировать спортивный обьект</button>
    </form>
{% endblock%}